@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap');
body{
    background-color: whitesmoke;
    margin: auto;
    padding-right: 5% !important;
    padding-left: 5% !important;
}
textarea{
    font-family: "Roboto Mono";
    color: white !important;
    background-color: #0B1D24 !important;
}
button{
    margin: 15px 15px 15px 0px;
}
.jumbotron{
    margin-top: 20px !important;
}